@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

#card-user-icon { /* 카드 > user 아이콘 */
	background-color: white;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 50px;
	color: #262B8C;
	border: 1px solid lightgray;
	border-radius: 5px;
}
.card-btn > button {
	padding: 6px 13px;
}