{{>layout/header}}

<link rel="stylesheet" href="/css/board.css">
</head>
<body>

{{>layout/navbar-user}}

<div class="container">
    <div id="main-row" class="row">
        <div id="main" class="col-md-9">
            <div class="title">
                이용 가능 API 목록
                <a title="새로고침" class="reload" onClick="window.location.reload()"><i class="fas fa-redo-alt"></i></a>
            </div>
            <div class="writing-list">
                {{#apiList}}
                    <article>
                        <a class="writing" href="/apiboard/{{id}}">
                            <div class="writing-data">
                                <p class="writing-user-time">
                                    {{name}}
                                </p>
                                <p class="writing-contants">
                                    {{description}}
                                </p>
                            </div>
                        </a>
                    </article>
                {{/apiList}}
            </div>
        </div>
    </div>
</div>


{{>layout/footer}}