{{>layout/header}}

    <link rel="stylesheet" href="/css/user_index.css">
<style>
    .card > .card-title {
        font-size: 15pt;
        text-align: center;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #miniyasu {
        color: #2b669a;
    }
    #yellowsky {
        color: #ec971f;
    }
    #smartfarm {
        color: #3c763d;
    }
</style>
</head>
<body>

{{>layout/navbar-user}}

<div class="container">
    <div id="main-row" class="row">
        <div id="left-side" class="col-md-3">
            <div class="card">
                <form id="user-data" class="login" action="user-data" method="get">
                    <h3 class="text-center">
                        <i id="card-user-icon" class="fas fa-user"></i>
                    </h3>
                    <p name="user_hakbon" id="user_hakbon" class="h3">{{hakbon}}</p>
                    <p name="user_name" id="user_name" class="h5" >{{name}}</p>
                    <p name="user_id" id="user_id" class="h5" >{{id}}</p>
                </form>
                <form id="logout" class="login" action="/logout" method="post">
                    <div class="card-btn">
                        <a href="/profile" id="mypage_btn" class="btn-white">내 정보</a>
                        <button type="submit" id="logout_btn" class="btn-white">로그아웃</button>
                    </div>
                </form>
            </div>
            <div class="card">
                <div class="bordered">
                    <h3>
                        <a>내 메뉴</a>
                    </h3>
                    <a class="card-list" href="#"><i class="fas fa-list-ul"></i>내가 쓴 글</a>
                    <a class="card-list" href="#"><i class="far fa-comment-dots"></i>댓글 단 글</a>
                    <a class="card-list" href="#"><i class="far fa-bookmark"></i>내 스크랩</a>
                </div>
            </div>
        </div>
        <div id="main" class="col-md-6">
            <div id="main-left-incard" class="col-md-6">
                <div class="card">
                    <div class="bordered">
                        <h3>
                            <a href="/notice">공지사항</a>
                        </h3>
                        {{#noticeList}}
                            <a class="card-list" href="/notice/{{no}}">
                                <time>{{date}}</time>
                                <p>{{context}}</p>
                            </a>
                        {{/noticeList}}
                    </div>
                </div>

            </div>
            <div id="main-right-incard" class="col-md-6">
                <div class="card">
                    <div class="bordered">
                        <h3>
                            <a href="/freeboard">자유게시판</a>
                        </h3>
                        {{#freeList}}
                            <a class="card-list" href="/freeboard/{{no}}">
                                <time>{{date}}</time>
                                <p>{{context}}</p>
                            </a>
                        {{/freeList}}
                    </div>
                </div>
            </div>
        </div>
        <div id="right-side" class="col-md-3">
            <div class="card" style="margin: 0">
                <div class="bordered">
                    <h3>
                        바로가기
                    </h3>
                </div>
            </div>
            <div class="col-md-12" style="padding:0; margin: 0">
                <div class="card" style="padding: 15px; margin: 0;">
                    <a href="/releases">
                        <div id="miniyasu" class="card-title">
                            미니야수
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-12" style="padding:0; margin: 0">
                <div class="card" style="padding: 15px; margin: 0;">
                    <a href="/releases">
                        <div id="yellowsky" class="card-title">
                            노란하늘
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-12" style="padding:0; margin: 0">
                <div class="card" style="padding: 15px; margin: 0;">
                    <a href="http://ccsyasu.cafe24.com:8083/index">
                        <div id="smartfarm" class="card-title">
                            스마트 팜
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function search_check() {
        var search = document.getElementById('main-search').value;

        if (search == "") {
            alert('검색어를 입력하세요!');
            return false;
        }
        else {
            return true;
        }
    }
</script>

{{>layout/footer}}