<!doctype html>
<html>
	<head lang="ko">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width" initial-scale="1">
		<link rel="shortcut icon" href="/images/book-solid.svg">
		<title>어바웃 송담</title>
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/default.css">
		<link rel="stylesheet" href="/css/user_index.css">
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<botton type="botton" class="navbar-toggle collapsed" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1" aria-example="false">
						<span class="sr-only"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</botton>
					<a class="navbar-brand" href="/"><i class="fas fa-book"> 어바웃 송담</i></a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="dropdown active">
							<a href="index" class="dropdown-toggle" data-toggle="dropdown" role="button"
							   aria-haspopup="true" aria-expanded="false">게시판<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="login">자유게시판</a></li>
								<li><a href="login">새내기 게시판</a></li>
								<li><a href="login">졸업생 게시판</a></li>
							</ul>
						</li>
						<li><a href="login">학교주변 맛집<span class="sr-only"></span></a></li>
						<li><a href="login">멘토/멘티</a></li>
						<li class="dropdown">
							<a href="login" class="dropdown-toggle" data-toggle="dropdown" role="button"
							   aria-haspopup="true" aria-expanded="false">셔틀버스<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="login">수원</a></li>
								<li><a href="login">새내기 게시판</a></li>
								<li><a href="login">졸업생 게시판</a></li>
							</ul>
						</li>
				    </ul>
					<ul class="nav navbar-right">
						<a href="#" class="btn-white"><i class="fas fa-envelope"></i></a>
						<a href="my-page" class="btn-white"><i class="fas fa-user"></i></a>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<div id="main-row" class="row">
				<div id="left-side" class="col-md-3">
					<div class="card">
						<form id="user-data" class="login" action="user-data" method="get">
							<h3 class="text-center">
								<i id="card-user-icon" class="fas fa-user"></i>
							</h3>
							<p name="user_hakbon" id="user_hakbon" class="h3"><%= hakbon %></p>
							<p name="user_nickname"id="user_nickname" class="h5" ><%= nickname %></p>
							<p name="user_name" id="user_name" class="h5" ><%= name %></p>
							<p name="user_id" id="user_id" class="h5" ><%= id %></p>
						</form>
						<form id="logout" class="login" action="/" method="post">
							<div class="card-btn">
								<a href="#" id="mypage_btn" class="btn-white">내 정보</a>
								<button type="submit" id="logout_btn" class="btn-white">로그아웃</button>
							</div>
						</form>
					</div>
					<div class="card">
						<div class="bordered">
							<h3>
								<a>내 메뉴</a>
							</h3>
							<a class="card-list" href="#"><i class="fas fa-list-ul"></i>내가 쓴 글</a>
							<a class="card-list" href="#"><i class="far fa-comment-dots"></i>댓글 단 글</a>
							<a class="card-list" href="#"><i class="far fa-bookmark"></i>내 스크랩</a>
						</div>
					</div>
				</div>
				<div id="main" class="col-md-6">
					<form id="search_form">
						<div class="col-md-12">
							<input id="main-search" name="main-search" type="text" class="form-control" placeholder="전체 게시판의 글을 검색해보세요!">
							<button type="submit" class="search-icon"><i class="fas fa-search"></i></button>
						</div>
					</form>
					<div id="main-left-incard" class="col-md-6">
						<div class="card">
							<div class="bordered">
								<h3>
									<a href="login">자유게시판</a>
								</h3>
								<%
								var limt=10;
								var limt = limt > rows.length ? rows.length : 5;
								%> 
								<%
								for(var i=0; i < limt ; i++){
								%>
								<a class="card-list" href="#">
									<time><%= rows[i].date %></time>
									<p><%= rows[i].content %></p>
								</a>
								<%
								}
								%>
							</div>
						</div>
						<div class="card">
							<div class="bordered">
								<h3>
								<a href="login">졸업생게시판</a>
								</h3>
								<a class="card-list" href="login">
									<time>07/06</time>
									<p>테스트</p>
								</a>
								<a class="card-list" href="login">
									<time>07/06</time>
									<p>테스트</p>
								</a>
								<a class="card-list" href="login">
									<time>07/06</time>
									<p>테스트</p>
								</a>
								<a class="card-list" href="login">
									<time>07/06</time>
									<p>테스트</p>
								</a>
								<a class="card-list" href="login">
									<time>07/06</time>
									<p>테스트</p>
								</a>
							</div>
						</div>
						<div class="card">
							<div class="bordered">
								<h3>
								<a href="login">동아리ㆍ학회</a>
								</h3>
								<a class="card-list" href="login">
									<time>07/06</time>
									<p>테스트</p>
								</a>
								<a class="card-list" href="login">
									<time>07/06</time>
									<p>테스트</p>
								</a>
								<a class="card-list" href="login">
									<time>07/06</time>
									<p>테스트</p>
								</a>
								<a class="card-list" href="login">
									<time>07/06</time>
									<p>테스트</p>
								</a>
								<a class="card-list" href="login">
									<time>07/06</time>
									<p>테스트</p>
								</a>
							</div>
						</div>
					</div>
					<div id="main-right-incard" class="col-md-6">
						<div class="card">
							<div class="bordered">
								<h3>
								<a href="login">새내기게시판</a>
								</h3>
								<a class="card-list" href="login">
									<time>07/06</time>
									<p>테스트</p>
								</a>
								<a class="card-list" href="login">
									<time>07/06</time>
									<p>테스트</p>
								</a>
								<a class="card-list" href="login">
									<time>07/06</time>
									<p>테스트</p>
								</a>
								<a class="card-list" href="login">
									<time>07/06</time>
									<p>테스트</p>
								</a>
								<a class="card-list" href="login">
									<time>07/06</time>
									<p>테스트</p>
								</a>
							</div>
						</div>
						<div class="card">
							<div class="bordered">
								<h3>
								<a href="login">정보게시판</a>
								</h3>
								<a class="card-list" href="login">
									<time>07/06</time>
									<p>테스트</p>
								</a>
								<a class="card-list" href="login">
									<time>07/06</time>
									<p>테스트</p>
								</a>
								<a class="card-list" href="login">
									<time>07/06</time>
									<p>테스트</p>
								</a>
								<a class="card-list" href="login">
									<time>07/06</time>
									<p>테스트</p>
								</a>
								<a class="card-list" href="login">
									<time>07/06</time>
									<p>테스트</p>
								</a>
							</div>
						</div>
						<div class="card">
							<div class="bordered">
								<h3>
								<a href="login">장터게시판</a>
								</h3>
								<a class="card-list" href="login">
									<time>07/06</time>
									<p>테스트</p>
								</a>
								<a class="card-list" href="login">
									<time>07/06</time>
									<p>테스트</p>
								</a>
								<a class="card-list" href="login">
									<time>07/06</time>
									<p>테스트</p>
								</a>
								<a class="card-list" href="login">
									<time>07/06</time>
									<p>테스트</p>
								</a>
								<a class="card-list" href="login">
									<time>07/06</time>
									<p>테스트</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div id="right-side" class="col-md-3">
					<div class="card">
						<div class="bordered">
							<h3>
							<a href="login">HOT 게시물</a>
							</h3>
							<a class="card-list" href="login">
								<time>07/06</time>
								<p>테스트</p>
							</a>
							<a class="card-list" href="login">
								<time>07/06</time>
								<p>테스트</p>
							</a>
							<a class="card-list" href="login">
								<time>07/06</time>
								<p>테스트</p>
							</a>
							<a class="card-list" href="login">
								<time>07/06</time>
								<p>테스트</p>
							</a>
							<a class="card-list" href="login">
								<time>07/06</time>
								<p>테스트</p>
							</a>
						</div>
				</div>
				</div>
			</div>
		</div>
		<script>
			function search_check() {
				var search = document.getElementById('main-search').value;
				
				if (search == "") {
					alert('검색어를 입력하세요!');
					return false;
				}
				else {
					return true;
				}
			}
		</script>
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="https://kit.fontawesome.com/e247bf4425.js" crossorigin="anonymous"></script>
	</body>
</html>
