<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" initial-scale="1">
    <title>어바웃 송담</title>
</head>
<body>
    <script>
        const message = "{{message}}"
        if (message) {
            alert(message);
        }
        location.href = "{{redirectUrl}}";
    </script>
</body>
</html>