{{>layout/header}}

    <link rel="stylesheet" href="/css/board.css">
</head>
<body>

{{>layout/navbar-user}}

<div class="container">
    <div id="main-row" class="row">
        <div id="left-side" class="col-md-2"></div>
        <div id="main" class="col-md-8">
            <div class="title">
                API 계정 등록하기
                <form action="api_user_create/create" method="post" style="display: contents; text-align: end">
                    <button type="submit" class="btn-navy">등록하기</button>
                </form>
            </div>
        </div>
        <div id="right-side" class="col-md-2"></div>
    </div>
</div>
<script>
    function onDisplay() {
        $('#new-write').show();
        $('#write-btn').hide();
    }
    function offDisplay() {
        $('#new-write').hide();
        $('#write-btn').show();
    }
</script>

{{>layout/footer}}