<!doctype html>
<html>
	<head lang="ko">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width" initial-scale="1">
		<link rel="shortcut icon" href="/images/book-solid.svg">
		<title>어바웃 송담 - 닉네임 변경</title>
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/default.css">
		<link rel="stylesheet" href="/css/my-page.css">
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<botton type="botton" class="navbar-toggle collapsed" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1" aria-example="false">
						<span class="sr-only"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</botton>
					<a class="navbar-brand" href="/"><i class="fas fa-book"> 어바웃 송담</i></a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="index" class="dropdown-toggle" data-toggle="dropdown" role="button"
							   aria-haspopup="true" aria-expanded="false">게시판<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="login">자유게시판</a></li>
								<li><a href="login">새내기 게시판</a></li>
								<li><a href="login">졸업생 게시판</a></li>
							</ul>
						</li>
						<li><a href="login">학교주변 맛집<span class="sr-only"></span></a></li>
						<li><a href="login">멘토/멘티</a></li>
						<li class="dropdown">
							<a href="login" class="dropdown-toggle" data-toggle="dropdown" role="button"
							   aria-haspopup="true" aria-expanded="false">셔틀버스<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="login">수원</a></li>
								<li><a href="login">새내기 게시판</a></li>
								<li><a href="login">졸업생 게시판</a></li>
							</ul>
						</li>
				    </ul>
					<ul class="nav navbar-right">
						<a href="#" class="btn-white"><i class="fas fa-envelope"></i></a>
						<a href="my-page" class="btn-white"><i class="fas fa-user"></i></a>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<div id="main-row" class="row">
				<div id="left-side" class="col-md-3">
				</div>
				<div id="main" class="col-md-6">
					<div class="card">
						<div class="card-title">
							<h3>
								닉네임 변경
							</h3>
						</div>
						<div class="card-body">
							<form id="nickname" action="nickname_change" method="post">
								<input id="nickname_change" name="nickname_change" placeholder="특수문자와 공백을 제외한 2~16자 이내">
								<button type="submit" class="btn-navy">닉네임 변경</button>
							</form>
						</div>
					</div>
				</div>
				<div id="right-side" class="col-md-3">
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="https://kit.fontawesome.com/e247bf4425.js" crossorigin="anonymous"></script>
	</body>
</html>
