{{>layout/header}}

    <link rel="stylesheet" href="/css/board.css">
</head>
<body>

{{>layout/navbar}}

<div class="container">
    <div id="main-row" class="row">
        <div id="main" class="col-md-9">
            <div class="title">
                공지사항
                <a title="새로고침" class="reload" onClick="window.location.reload()"><i class="fas fa-redo-alt"></i></a>
            </div>
            <div class="writing-list">
                <input id="write-btn" type="text" onClick="onDisplay()" placeholder="새 글을 작성해 보세요!">
                <div id="new-write" class="new-write" style="display: none">
                    <form action="" method="post">
                        <p class="write-title">
                            자유게시판
                        </p>
                        <p class="write-main">
                            <textarea name="text" class="new-writing" placeholder="새 글을 작성해 보세요!"></textarea>
                        </p>
                        <ul class="write-options">
                            <li title="이미지첨부" class="image-insert"><center><i class="fas fa-images"></i></center></li>
                            <button type="submit" class="write-end"><center><i class="fas fa-pen-nib"></i></center></button>
                            <li title="익명" class="anonym-user"></li>
                        </ul>
                    </form>
                </div>
                <!--
                                        <%
                                        var limt=10;
                                        var limt = limt > rows.length ? rows.length : 10;
                                        %>
                                        <%
                                        for(var i=0; i < limt ; i++){
                                        %>
                                        <articla>
                                            <a class="writing" href="#">
                                                <%= rows[i].content %>
                                            </a>
                                        </articla>
                                        <%
                                        }
                                        %>
                -->
                <articla>
                    <a class="writing" href="#">
                        <div class="writing-data">
                            <p class="writing-user-time">
                                <i class="fas fa-user"></i>
                                익명
                                <time>
                                    21/01/01
                                </time>
                            </p>
                            <p class="writing-contants">
                                내용
                            </p>
                            <p class="writing-comments">
                                <i class="far fa-thumbs-up">
                                    0
                                </i>
                                <i class="far fa-comments">
                                    0
                                </i>
                            </p>
                        </div>
                    </a>
                </articla>
                <articla>
                    <div class="search-error">
                        <i class="fas fa-times"></i>
                        &nbsp;입력한 내용을 찾을 수 없어요!
                    </div>
                </articla>
                <div class="write-page">
                    <a href=""><i class="fas fa-angle-left"></i></a>
                    <a href="">1</a>
                    <a href="">2</a>
                    <a href="">3</a>
                    <a href="">4</a>
                    <a href="">5</a>
                    <a href=""><i class="fas fa-angle-right"></i></a>
                </div>
                <form id="search_form" method="post" action="free_search" onsubmit="return search_check()">
                    <div class="col-md-6">
                        <input id="free-search" name="free-search" type="text" class="form-control" placeholder="자유게시판의 글을 검색해보세요!">
                        <button type="submit" class="search-icon"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <div id="right-side" class="col-md-3">
            <div class="card">
                <div class="bordered">
                    <h3>
                        <a href="#">HOT 게시물</a>
                    </h3>
                    <a class="card-list" href="#">
                        <time>07/06</time>
                        <p>테스트</p>
                    </a>
                    <a class="card-list" href="#">
                        <time>07/06</time>
                        <p>테스트</p>
                    </a>
                    <a class="card-list" href="#">
                        <time>07/06</time>
                        <p>테스트</p>
                    </a>
                    <a class="card-list" href="#">
                        <time>07/06</time>
                        <p>테스트</p>
                    </a>
                    <a class="card-list" href="#">
                        <time>07/06</time>
                        <p>테스트</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function onDisplay() {
        $('#new-write').show();
        $('#write-btn').hide();
    }
    function offDisplay() {
        $('#new-write').hide();
        $('#write-btn').show();
    }
    function search_check() {
        var search = document.getElementById('free-search').value;

        if (search == "") {
            alert('검색어를 입력하세요!');
            return false;
        }
        else {
            return true;
        }
    }
</script>

{{>layout/footer}}