{{>layout/header}}

    <link rel="stylesheet" href="/css/board.css">
</head>
<body>

{{>layout/navbar-user}}

<div class="container">
    <div id="main-row" class="row">
        <div id="left-side" class="col-md-2"></div>
        <div id="main" class="col-md-8">
            <div class="title">
                <a href="/notice">공지사항</a>
            </div>
            <div class="writing-list">
                {{#article}}
                <article>
                    <div class="writing-data">
                        <p class="writing-user-time">
                            <i class="fas fa-user"></i>
                            {{studNum}}
                            <time>
                                {{date}}
                            </time>
                        </p>
                        <p class="writing-contants">
                            {{context}}
                        </p>
                    </div>
                </article>
                {{/article}}
            </div>
        </div>
        <div id="right-side" class="col-md-2"></div>
    </div>
</div>

{{>layout/footer}}