{{>layout/header}}

    <link rel="stylesheet" href="/css/board.css">
</head>
<body>

{{>layout/navbar-user}}

<div class="container">
    <div id="main-row" class="row">
        <div id="left-side" class="col-md-2"></div>
        <div id="main" class="col-md-8">
            <div class="title">
                <a href="/notice">공지사항</a>
            </div>
            <div class="writing-list">
                {{#article}}
                <article>
                    <div class="writing-data">
                        <p class="writing-user-time">
                            <i class="fas fa-user"></i>
                            {{studNum}}
                            <time>
                                {{date}}
                            </time>
                        </p>
                        <p class="writing-contants">
                            {{context}}
                        </p>
                    </div>
                </article>
                {{/article}}
                <div id="new-write" class="new-write">
                    <form action="/notice/{{no}}/comment" method="post">
                        <p class="write-main" style="height: 55px;">
                            <textarea name="text" class="new-writing" placeholder="댓글을 작성해 보세요!" style="height: 25px;"></textarea>
                        </p>
                        <ul class="write-options">
                            <button type="submit" class="write-end"><center><i class="fas fa-pen-nib"></i></center></button>
                            <li title="익명" class="anonym-user"></li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        <div id="right-side" class="col-md-2"></div>
    </div>
</div>

{{>layout/footer}}