{{>layout/header}}

<link rel="stylesheet" href="/css/board.css">
<style>
    .card > .card-title {
        font-size: 15pt;
        text-align: center;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #miniyasu {
        color: #2b669a;
    }
    #yellowsky {
        color: #ec971f;
    }
    #smartfarm {
        color: #3c763d;
    }
</style>
</head>
<body>

{{>layout/navbar}}

<div class="container">
    <div id="main-row" class="row">
        <div id="left-side" class="col-md-1"></div>
        <div id="main" class="col-md-10">
            <div class="title">
                서비스 목록
                <a title="새로고침" class="reload" onClick="window.location.reload()"><i class="fas fa-redo-alt"></i></a>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="writing-list">
                            <article>
                                <div class="writing-list">
                                    <article>
                                        <div class="writing-data">
                                            대학교 생활에 있어 빼먹을 수 없는 프로젝트와 팀플. <br>
                                            다양한 프로젝트와 프로그램을 개발하면서 소규모 개발팀 또는 개인의 한계를 느꼈습니다.<br>
                                            <br>
                                            예를 들어 서버와 관련된 로그인 기능, 회원관리 등이 있습니다.<br>
                                            <br>
                                            서버는 개인이나 소규모 팀이 빌리고, 사용하기에는 금전적으로나 기술적인 문제에 직면합니다. <br>
                                            그 대표적인 프로그램이 직접 개발한 [MiniYASU]라는 어플입니다.<br>
                                            어플에 로그인 기능과 커뮤니티 기능을 추가하려고 했으나 금전적인 한계로 실패하였습니다. <br>
                                            <br>
                                            이러한 한계를 극복하는 방법이 없을까? 라는 생각에 야수의 심장을 개발하게 되었습니다.<br>
                                            야수의 심장은 하나의 서버를 여러 팀과 다양한 프로젝트들이 같이 사용하며 공유하는 것이 목표입니다.<br>
                                            따라서 금전적인 문제와 기술적인 부분을 지원하면서 학생들의 실무 경험과 프로젝트의 다양성을 향상시키는 효과를 볼 수 있을 것으로 예상됩니다.
                                        </div>
                                    </article>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="padding: 15px">
                        <div id="miniyasu" class="card-title">
                            미니야수
                        </div>
                        <div class="card-body">
                            <a href="https://play.google.com/store/apps/details?id=com.release.miniyasu">
                                <img src="/images/miniYasu.png" style="width: 100%;">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="padding: 15px">
                        <div id="yellowsky" class="card-title">
                            노란하늘
                        </div>
                        <div class="card-body">
                            <a href="http://ccsyasu.cafe24.com/yellowSky">
                                <img src="/images/yellowSky.png" style="width: 100%;">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="padding: 15px">
                        <div id="smartfarm" class="card-title">
                            스마트 팜
                        </div>
                        <div class="card-body">
                            <a href="http://ccsyasu.cafe24.com:8083/index">
                                <img src="/images/smartFarm.png" style="width: 100%;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="right-side" class="col-md-1"></div>
    </div>
</div>

{{>layout/footer}}