{{>layout/header}}

<link rel="stylesheet" href="/css/board.css">
</head>
<body>

{{>layout/navbar-user}}

<div class="container">
    <div id="main-row" class="row">
        <div id="left-side" class="col-md-2"></div>
        <div id="main" class="col-md-8">
            <div class="title">
                야수의 심장
            </div>
            <div class="writing-list">
                    <article>
                        <div class="writing-data">
                            대학교 생활에 있어 빼먹을 수 없는 프로젝트와 팀플. <br>
                            다양한 프로젝트와 프로그램을 개발하면서 소규모 개발팀 또는 개인의 한계를 느꼈습니다.<br>
                            <br>
                            예를 들어 서버와 관련된 로그인 기능, 회원관리 등이 있습니다.<br>
                            <br>
                            서버는 개인이나 소규모 팀이 빌리고, 사용하기에는 금전적으로나 기술적인 문제에 직면합니다. <br>
                            그 대표적인 프로그램이 직접 개발한 [MiniYASU]라는 어플입니다.<br>
                            어플에 로그인 기능과 커뮤니티 기능을 추가하려고 했으나 금전적인 한계로 실패하였습니다. <br>
                            <br>
                            이러한 한계를 극복하는 방법이 없을까? 라는 생각에 야수의 심장을 개발하게 되었습니다.<br>
                            야수의 심장은 하나의 서버를 여러 팀과 다양한 프로젝트들이 같이 사용하며 공유하는 것이 목표입니다.<br>
                            따라서 금전적인 문제와 기술적인 부분을 지원하면서 학생들의 실무 경험과 프로젝트의 다양성을 향상시키는 효과를 볼 수 있을 것으로 예상됩니다.
                        </div>
                    </article>
            </div>
        </div>
        <div id="right-side" class="col-md-2"></div>
    </div>
</div>

{{>layout/footer}}