{{>layout/header}}

<link rel="stylesheet" href="/css/board.css">
</head>
<body>

{{>layout/navbar-user}}

<div class="container">
    <div id="main-row" class="row">
        <div id="left-side" class="col-md-2"></div>
        <div id="main" class="col-md-8">
            <div class="title">
                여기에 서비스 명 작성
            </div>
            <div class="writing-list">
                    <article>
                        <div class="writing-data">
                            여기에 내용 작성
                        </div>
                    </article>
            </div>
        </div>
        <div id="right-side" class="col-md-2"></div>
    </div>
</div>

{{>layout/footer}}