{{>layout/header}}

    <link rel="stylesheet" href="/css/log-in.css">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <form action="/signupPost" method="post" onsubmit="return check_all()">
            <div class="col-md-6">
                <div class="box">
                    <a href="/"><p><i class="fas fa-book"></i> 어바웃 송담</p></a>
                    <div class="user_data">
                        <input type="text" name="user_id" id="user_id" autocomplete="off" onKeyUp="id_check()" required>
                        <label for="user_id">아이디</label>
                        <button id="id_check_btn" type="button" class="btn-navy" onclick="chkIdDuplicate()" style="display: none">중복확인</button>
                        <span id="id_check_msg"></span>
                    </div>
                    <div class="user_data">
                        <input type="password" name="user_pw" id="user_pw" autocomplete="off" onfocus="offDisplay()" onKeyUp="pw_id_check()" required >
                        <label for="user_pw">비밀번호</label>
                        <span id="pw_msg"></span>
                    </div>
                    <div class="user_data">
                        <input type="password" name="user_pw_check" id="user_pw_check" autocomplete="off" onKeyUp="pw_check()" required>
                        <label for="user_pw">비밀번호 확인</label>
                        <span id="pw_check_msg"></span>
                    </div>
                    <div class="user_data">
                        <input type="text" name="user_nickname" id="user_nickname" autocomplete="off" onKeyUp="nickname_check()" required maxlength="20" oninput="this.value = this.value.replace(/[^a-zA-z가-힣0-9]/g, '').replace(/(\..*)\./g, '$1');">
                        <label for="user_nickname">닉네임</label>
                        <span id="nickname_check_msg"></span>
                    </div>
                    <div class="user_data">
                        <input type="text" name="user_hakbon" id="user_hakbon" autocomplete="off" onKeyUp="hakbon_check()" required maxlength="9" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                        <label for="user_hakbon">학번</label>
                        <span id="hakbon_check_msg"></span>
                    </div>
                    <div class="submit-btn">
                        <button id="btn" type="button" onclick="signupPost()">회원가입</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-md-3">
        </div>
    </div>
</div>
<script>
    function onDisplay() {
        $('#id_check_btn').show();
    }
    function offDisplay() {
        $('#id_check_btn').hide();
    }
    function id_check() { // 아이디 확인
        var id = document.getElementById('user_id').value;
        var id_rule = /^[a-zA-z0-9]{4,12}$/;

        if (!id_rule.test(id)) {
            document.getElementById('id_check_msg').innerHTML = '※ 아이디는 영문 대문자 소문자와 숫자 4~12자리로 입력해야해요!'
            $('#id_check_btn').hide();
            form.user_id.focus();
            return false;
        }
        else {
            document.getElementById('id_check_msg').innerHTML = "";
            $('#id_check_btn').show();
            return true;
        }
        if (id == "") {
            document.getElementById('id_check_msg').innerHTML = "";
            $('#id_check_btn').show();
            return false;
        }
    }
    function pw_id_check() { // 비밀번호 = 아이디 확인
        var id = document.getElementById('user_id').value;
        var pw = document.getElementById('user_pw').value;

        if (pw == id) {
            document.getElementById('pw_msg').innerHTML = "※ 아이디와 비밀번호는 같을 수 없어요!";
            form.user_pw.focus();
            return false;
        }
        else {
            document.getElementById('pw_msg').innerHTML = "";
            return true;
        }
        if (pw == "") {
            document.getElementById('pw_msg').innerHTML = "";
            return false;
        }
    }
    function pw_check() {  // 비밀번호 확인
        var pw = document.getElementById('user_pw').value;
        var pw_ck = document.getElementById('user_pw_check').value;

        if (pw != pw_ck) {
            document.getElementById('pw_check_msg').innerHTML = "※ 비밀번호가 달라요! 다시 확인해 주세요!";
            form.user_pw_check.focus();
            return false;
        }
        else {
            document.getElementById('pw_check_msg').innerHTML = "";
            return true;
        }
        if (pw_ck == "") {
            document.getElementById('pw_check_msg').innerHTML = "";
            return false;
        }
    }
    function name_check() { // 성명 확인
        var name = document.getElementById('user_name').value;
        var name_rule = /^[a-zA-z가-힣0-9]{2,20}$/

        if (!name_rule.test(name)) {
            document.getElementById('name_check_msg').innerHTML = "※ 성명은 특수문자 제외 2~20자 까지 입력할 수 있어요!";
            form.user_name.focus();
            return false;
        }
        else {
            document.getElementById('name_check_msg').innerHTML = "";
            return true;
        }
        if (name == "") {
            document.getElementById('name_check_msg').innerHTML = "";
            return false;
        }
    }
    function nickname_check() { // 닉네임 확인
        var nickname = document.getElementById('user_nickname').value;
        var nickname_rule = /^[a-zA-z가-힣0-9]{2,20}$/

        if (!nickname_rule.test(nickname)) {
            document.getElementById('nickname_check_msg').innerHTML = "※ 닉네임은 특수문자 제외 2~20자 까지 입력할 수 있어요!";
            form.user_nickname.focus();
            return false;
        }
        else {
            document.getElementById('nickname_check_msg').innerHTML = "";
            return true;
        }
        if (nickname == "") {
            document.getElementById('nickname_check_msg').innerHTML = "";
            return false;
        }
    }
    function hakbon_check() { // 학번 확인
        var hakbon = document.getElementById('user_hakbon').value;
        var hakbon_rule = /^[0-9]{9,9}$/

        if (!hakbon_rule.test(hakbon)) {
            document.getElementById('hakbon_check_msg').innerHTML = "※ 학번은 9글자 전부 입력해야해요!"
            form.user_hakbon.focus();
            return false;
        }
        else {
            document.getElementById('hakbon_check_msg').innerHTML = ""
            return true;
        }
        if (hakbon == "") {
            document.getElementById('hakbon_check_msg').innerHTML = ""
            return false;
        }
    }
    function check_all() { // 모두 확인
        if (!id_check()) {
            form.user_id.focus();
            return false;
        }
        else if (!pw_id_check()) {
            form.user_pw.focus();
            return false;
        }
        else if (!pw_check()) {
            form.user_pw_check.focus();
            return false;
        }
        else if (!name_check()) {
            form.user_name.focus();
            return false;
        }
        else if (!nickname_check()) {
            form.user_nickname.focus();
            return false;
        }
        else if (!hakbon_check()) {
            form.user_hakbon.focus();
            return false;
        }

        return true;
    }

    function signupPost() {
        var obj = { "id": document.getElementById("user_id").value,
                    "pw": document.getElementById("user_pw").value,
                    "nickname": document.getElementById("user_nickname").value,
                    "hackbon": document.getElementById("user_hakbon").value };
        $.ajax({
            url: "/signup",
            type: "post",
            data: JSON.stringify(obj),
            dataType: "text",
            contentType: "application/json",
            success: function(data) {
                if (data === "OK") {
                    alert("성공");
                    location.href = "/login";
                }
            },
            error: function(errorThrown) {
                alert(errorThrown.statusText);
            }
        });
    }

    function chkIdDuplicate() {
        var obj = { "id": document.getElementById("user_id").value };

        $.ajax({
            url: "/chkIdDuplicate",
            type: "post",
            data: JSON.stringify(obj),
            dataType: "text",
            contentType: "application/json",
            success: function(data) {
                if (data === "OK") {
                    document.getElementById('id_check_msg').style.color = "blue";
                    document.getElementById('id_check_msg').innerHTML = "사용 가능 한 아이디 입니다!";
                    $('#id_check_btn').hide();
                } else if(data === "ERR") {
                    document.getElementById('id_check_msg').innerHTML = "사용 중인 아이디 입니다!";
                }
            },
            error: function(errorThrown) {
                alert("중복확인 에러");
            }
        });
    }
</script>

{{>layout/footer}}