{{>layout/header}}

<link rel="stylesheet" href="/css/smartfarm.css">
</head>
<body>

{{>layout/navbar}}

<div class="container">
    <div id="main-row" class="row">
        <div id="left-side" class="col-md-4">
        </div>
        <div id="main" class="col-md-4">
            <div class="card">
                <div class="card-title">
                    <h2>
                        식물정보
                    </h2>
                </div>
                <div class="card-body">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <img src="http://placehold.it/300x300" class="center-block"/>
                        <h4 class="plant-name">
                            식물이름
                        </h4>
                        <h4 class="humidity">
                            습도
                        </h4>
                        <h4 class="soil">
                            토양
                        </h4>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
        <div id="right-side" class="col-md-4">
        </div>
    </div>
</div>

{{>layout/footer}}